/* shimmer-100-x-100 */
.shimmer-100-x-100 {
    width: 100%;
    height: 100vh; /* Full viewport height */
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmerAnimation 1.5s infinite linear;
}

/* shimmer-w-100 */
.shimmer-w-100 {
    width: 100%;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmerAnimation 1.5s infinite linear;
}

/* Shimmer animation */
@keyframes shimmerAnimation {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}
