/* Color Generator Website */
/* https://mdigi.tools/color-shades/#007bff */

/* Body */
$c-body-bg-1: #F2F3F5;

//white
$c-white: #FFFFFF;


/* Grey */
$c-grey-1: #F2F3F5;
$c-grey-2: #DADADA ;
$c-grey-3: #979797 ;
$c-grey-4: #D0D5DD ;
$c-grey-6: #EDEDED ;
$c-grey-5: #ccc;
$c-grey-6: #F8F8F8;
$c-grey-7: #DADADA;
$c-grey-8: #D0D5DD;
$c-grey-9: #ededed;
$c-grey-10: #F9F9F9;
$c-grey-11: #fffaf0;
$c-grey-12: #808080;
$c-grey-13: #dcdcdc;
$c-grey-14: #d3d3d3;
$c-grey-15: #c0c0c0;
$c-grey-16: #a9a9a9;
$c-grey-17: #778899;
$c-grey-18: #708090;
$c-grey-19: #696969;
$c-grey-20: #555555;
$c-grey-21: #536878;
$c-grey-22: #fffaf0;
$c-grey-23: #91a3b0;
$c-grey-24: #b2beb5;
$c-grey-25: #f4f0ec;
$c-grey-26: #e5e4e2;
$c-grey-27: #dcdcdc;
$c-grey-28: #dbd7d2;
$c-grey-29: #d3d3d3;
$c-grey-30: #c4c3d0;
$c-grey-31: #F3F6F9;
$c-grey-32: #F3F3F3;
$c-grey-33: #E2E5ED;
$c-grey-34: #405189;
$c-grey-35: #525252;
$c-grey-36: #F8F8F8;
$c-grey-37: #EAEAEB;
$c-grey-38: #E9E9E9;
$c-grey-39: #E1E1E1;
$c-grey-40: #E8E8E8;
$c-grey-light: #717171;
$c-grey-default-light: #B3B3B3;

/* White */
$c-white: white;

/* Black */
$c-black-1: #000000;
$c-black-2: #344054;
$c-black-3: #202020;
$c-black-4: #282828;
$c-black-5: #EBEBEB;
$c-black-6: #1D1D1D;
/* Blue */
$c-blue-default: #014FE5;
$c-blue-default-dark: #002F74 ;
$c-blue-10-per: #E6EDFC;
$c-blue-dark: #1A74F8;
$c-blue-dark-1: #0148c8;
$c-blue-1: #D6F6FF;
$c-blue-2: #2765EB;
$c-blue-3: #e8faff;
$c-blue-4: #096c87;
$c-blue-5: #0C51B5;
$c-blue-6: #015DE2;
$c-blue-7: #99ceff;
/* Green */
$c-green-1: #159800;
$c-green-2: #005e08;
$c-green-3: #D1FFCE;
$c-green-4: #0A7E02;
$c-green-5: #c0fcae;
$c-green-6: #28A745;

$c-green-default-light: #28A745;

/* Red */

$c-red-default: #FF0000;
$c-red-dark: #ED0000;
$c-red-default-light: #E40202;
$c-red-1: #fee6e6;
$c-red-2: #fdb4b4;
$c-red-3: #fc8282;
$c-red-4: #fb5050;
$c-red-5: #fa1e1e;
$c-red-6: #e10505;
$c-red-7: #af0404;
$c-red-8: #7d0303;
$c-red-9: #4b0202;
$c-red-10: #190101;
$c-red-11: #FFCECE;
$c-red-12: #D60000;
$c-red-13: #f90808;

/* Yellow */
$c-yellow-1: #FFF5CF;
$c-yellow-2: #AF8B0E;
$c-yellow-3: #FFD900;
$c-yellow-4: #FFC563;
$c-yellow-5-dark: #402F00;
/* Pink */
$c-pink-default: #b200c9;
$c-pink-dark: #790080;
$c-pink-medium: #ae06b8;
$c-pink-light: #f6daf7;

//Purple
$c-purple-default: #B402A2
