@import "../../abstracts/_colors.scss";
@import "../../abstracts/_variables.scss";
@import "../../abstracts/_mixins.scss";
@import "../../abstracts/_links.scss";

.keyword-scoroller {
    padding:5px 0px 5px 0px;
    text-align: center;
    max-width: 100%;
    margin-bottom: 0px;
    margin-top: 5px;

    a {
        color: $c-grey-35;
        text-decoration: none;
        margin-right: 5px;
        padding: 3px 10px 3px 10px;
        background: $c-white;
        display: inline-block;
        color: $c-grey-35;
        border-radius: 4px;
        white-space: nowrap;
    }

    a:hover {
        color: $c-blue-default-dark;
        text-decoration: none;
        margin-right: 5px;
        padding: 3px 10px 3px 10px;
        background: $c-white;
        display: inline-block;
        color: $c-grey-35;
        border-radius: 4px;
        white-space: nowrap;
    }
}